@using System.Security.Claims
@using ALS.EntityСontext
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
</head>
<body>
<!--меню-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="~/index">ALS</a>
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
             <li class="nav-item">
                 <a class="nav-link" href="~/index">Домой</a>
             </li>
             <li class="nav-item" id="group">
                 <a class="nav-link" href="~/groups">Группы</a>
             </li>
             <li class="nav-item" id="template">
                     <a class="nav-link" href="~/templates">Шаблоны</a>
             </li>
             <li class="nav-item" id="speciality">
                 <a class="nav-link" href="~/specialities">Специальности</a>
             </li>
             <li class="nav-item" id="variant">
                 <a class="nav-link" href="~/variants">Варианты</a>
             </li>
             <li class="nav-item" id="laboratorywork">
                 <a class="nav-link" href="~/laboratoryworks">Лабораторные работы</a>
             </li>
             <li class="nav-item" id="assignvariant">
                 <a class="nav-link" href="~/assignvariant">Назначение варианта</a>
             </li>
             <li class="nav-item" id="contest">
                 <a class="nav-link" href="~/contest">Отправить решение</a>
             </li>
         </ul>
     </div>
</nav>
<!--основной контент-->
<div id="content" class="container body-content">
    @RenderBody()
</div>
<hr />
<footer style="padding-left: 5%">
    <p>@DateTime.Now.Year - ALS</p>
</footer>
<script>
    let group = $('#group');
    let template = $('#template');
    let speciality = $('#speciality');
    let variant = $('#variant');
    let lw = $('#laboratorywork');
    let aw = $('#assignvariant');
    let contest = $('#contest');
    showMenu();
    function showMenu() {
        group.css('display', 'none');
        template.css('display', 'none');
        speciality.css('display', 'none');
        variant.css('display', 'none');
        lw.css('display', 'none');
        aw.css('display', 'none');
        contest.css('display', 'none');
        let roles = JSON.parse(sessionStorage.getItem('roles'));
        if (roles == null) return;
        if (roles.includes('Teacher')) {
            template.css('display', 'block');
            variant.css('display', 'block');
            lw.css('display', 'block');
            aw.css('display', 'block');
        }
        if (roles.includes('Admin')) {
            group.css('display', 'block');
            speciality.css('display', 'block');
        }
        if (roles.includes('Student')) {
            contest.css('display', 'block');
        }
    }
</script>
</body>
</html>