@page
@model ALS.Pages.Checkers

@{
    Layout = "_Layout";
    ViewData["Title"] = "Добавить чекер";
}

<h3>Чекеры </h3>
<div style="margin-bottom: 1%">
    <input onchange="sendSolution(this)" class="btn btn-primary edit-item" type="file" accept=".cs"/>
    <span style="float: right; text-align: right; color: aliceblue; font-size: 120%" id="loader"></span>
</div>
<div class="container">
    <table style="width: 100%" class="table table-hover" border="1">
        <thead>
        <tr>
        <td>Наименование чекера</td>
        <td>Просмотреть код чекера</td>
        <td>Удалить чекер</td>
        </thead>
        <tbody id="tbodyContent">
    </table>
    <button onclick="ShowHelpWindow()" class="btn btn-primary edit-item">HELP</button>
</div>

<script>
    document.onkeydown = document.onkeyup = document.onkeypress = (ev => {
            if(ev.key === 'F1')
            {
                ShowHelpWindow();
            }
        });
    CreateTable();
    
    function CreateTable() {
        $.ajax(
                    {
                        type: 'GET',
                        url: '/api/checker/getall',
                        beforeSend: (xhr) => 
                        {
                        },
                        success: (checkers) =>
                        {
                            let tbdy = document.getElementById('tbodyContent');
                            tbdy.innerHTML = ""; //Удалим все дочерние узлы
                            for (let checker of checkers)
                            {
                                let tr = document.createElement('tr');
                                tbdy.appendChild(tr);
                                let tdChecker = document.createElement('td');
                                tr.appendChild(tdChecker);
                                tdChecker.appendChild(document.createTextNode(checker));
                                let tdGetCode = document.createElement('td');
                                tr.appendChild(tdGetCode);
                                let getCodeBtn = document.createElement('button');
                                getCodeBtn.className = "btn btn-primary edit-item";
                                getCodeBtn.addEventListener('click', function() {
                                    ReadCodeChecker(checker)
                                });
                                getCodeBtn.innerText = "Получить код";
                                tdGetCode.appendChild(getCodeBtn);
                                let tdRemoveChecker = document.createElement('td');
                                tr.appendChild(tdRemoveChecker);
                                let removeCheckerBtn = document.createElement('button');
                                if(checker === 'AbsoluteChecker')
                                {
                                    removeCheckerBtn.disabled = true;
                                }
                                removeCheckerBtn.className = "btn btn-danger remove-item";
                                removeCheckerBtn.addEventListener('click', function() {
                                  RemoveChecker(checker);
                                });
                                removeCheckerBtn.innerText = "Удалить чекер";
                                tdRemoveChecker.appendChild(removeCheckerBtn);
                            }
                        },
                        error: (checkerFail) =>
                        {
                            document.body.innerHTML = '';
                            alert('Нет доступа');
                            history.go(-1);
                            
                        }
                    }
            );
    }
  function ReadCodeChecker(nameChecker) {
        window.open('/api/Checker/Get?nameComponent=' + nameChecker);
  }
  
  function RemoveChecker(nameChecker) {
        if (confirm("Вы точно хотите удалить этот чекер?")) {
            $.ajax(
                         {
                            type: 'POST',
                            url: '/api/Checker/Delete',
                            beforeSend: (xhr) => 
                            {
                                loaderSet("Идёт процесс удаления");
                                xhr.setRequestHeader("nameComponent", nameChecker);
                            },
                            success: (textChecker) =>
                            {
                                loader.innerText = "";
                                CreateTable();
                                alert(textChecker);
                            },
                            error: (checkerFail) =>
                            {
                                loaderDiasble();
                                alert(checkerFail.responseText);
                            }
                         }
                     );
        }
  }
  
  function sendSolution(evt)
          {
              var files = evt.files; // FileList object
              var dataFile = new FormData();
              for (var i = 0; i < files.length; i++) {
                  dataFile.append('componentFile', files[i]);
              }
              $.ajax(
                  {
                      type: 'POST',
                      url: '/api/Checker/Create',
                      contentType: false,
                      data: dataFile,
                      processData: false,
                      async: false,
                      beforeSend: (xhr) =>
                      {
                          loaderSet("Идёт загрузка");
                      },
                      success: (result) =>
                      {
                          loaderDiasble();
                          CreateTable();
                          alert(result);
                      },
                      error: (sendFail) =>
                      {
                          loaderDiasble();
                          alert(sendFail.responseText);
                      }
                  }
              );
          }
          function loaderSet(text) {
            let loader = document.getElementById('loader');
            loader.style.backgroundColor = "#007bff";
            loader.innerText = text;
          }
          function loaderDiasble() {
            let loader = document.getElementById('loader');
            loader.style.backgroundColor = "#ffffff";
            loader.innerText = "";
          }
          
          function ShowHelpWindow() {
            window.open("TeacherInstructionChecker.html", 'Инструкция по чекерам', 'width=800,menubar=no, toolbar=no, location=no'); 
          }
</script>