@page
@model ALS.Pages.Contest

@{
    Layout = "_Layout";
    ViewData["Title"] = "Отправить решение";
}
<div style="margin-bottom: 1%">
    <span>Дисциплина: </span><select onchange="DisciplineSel()" id="disciplineSelect"></select>
</div>
<table style="width: 100%" border="1">
    <thead>
    <tr>
    <td>Лабораторная работа</td>
    <td>Описание лабораторной работы</td>    
    <td>Номер варианта</td>
    <td>Описание варианта</td>
    <td>Статус</td>
    </thead>
    <tbody id="tbodyContent">
</table>


<script>
    let tokenKey = "accessToken";
        
    $.ajax(
              {
                  type: 'GET',
                  url: '/api/disciplines/getall',
                  async: false,
                  beforeSend: (xhr) => 
                  {
                      let token = sessionStorage.getItem(tokenKey);
                      xhr.setRequestHeader("Authorization", "Bearer " + token);
                  },
                  success: (disciplines) =>
                  {
                      let sel = $('#disciplineSelect');
                      
                            if(disciplines.length === 0)
                            {
                                alert('Не назначена ни одна дисциплина');
                                history.go(-1);
                            }
                          for (let discipline of disciplines)
                          {
                              let opt = document.createElement('option');
                              opt.text = discipline.name;
                              opt.dataset.id = discipline.cipher;
                              sel.append(opt);
                          }
                  },
                  error: (awFail) =>
                  {
                      document.body.innerHTML = '';
                      alert('Нет доступа');
                      history.go(-1);
                  }
              }
        );
        
        function getDiscipline() 
        {
          return $('#disciplineSelect option:selected')[0].dataset.id;
        }
    
        function CreateTable() {
          
        }
</script>