@page
@model ALS.Pages.Index

@{
    Layout = "_Layout";
    ViewData["Title"] = "ALS";
}
    
    <div class="userInfo" style="display:none;">
        <p>Вы вошли как: <span class="userName"></span></p>
        <input type="button" value="Выйти" id="logOut" />
    </div>
    <div class="loginForm">
        <h3>Вход на сайт</h3>
        <label>Введите email</label><br />
        <input type="email" id="emailLogin" /> <br /><br />
        <label>Введите пароль</label><br />
        <input type="password" id="passwordLogin" /><br /><br />
        <input type="submit" id="submitLogin" value="Логин" />
    </div>
    <div>
        <input type="submit" id="TestAdmin" value="Тест админа" />
    </div>
    <div>
        <input type="submit" id="TestTeacher" value="Тест препода" />
    </div>
    <div>
        <input type="submit" id="TestStudent" value="Тест студента" />
    </div>
    
    <script>
        //Специальные секции в sessionStorage
        let tokenKey = "accessToken";
        let username = "userName";
        
        if(sessionStorage.getItem(tokenKey) != null)
        {
            $('.userInfo').css('display', 'block');
            $('.loginForm').css('display', 'none');
            $('.userName').text(sessionStorage.getItem(username));
        }
            
        $('#submitLogin').click(function (e) {
            e.preventDefault();
            var loginData = {
                grant_type: 'Password',
                Email: $('#emailLogin').val(),
                Password: $('#passwordLogin').val()
            };
 
            $.ajax({
                type: 'POST',
                url: '/api/users/login',
                contentType:  "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(loginData)
            }).success(function (data) {
                $('.userName').text(data.username);
                $('.userInfo').css('display', 'block');
                $('.loginForm').css('display', 'none');
                // сохраняем в хранилище sessionStorage токен доступа и имя
                sessionStorage.setItem(tokenKey, data.access_token);
                sessionStorage.setItem(username, data.username);
            }).fail(function (data) {
                console.log(data);
            });
        });
 
        $('#logOut').click(function (e) {
            e.preventDefault();
            $('.loginForm').css('display', 'block');
            $('.userInfo').css('display', 'none');
            sessionStorage.removeItem(tokenKey);
            sessionStorage.removeItem(username);
            
        });
        $('#TestAdmin').click(function(e) {
            e.preventDefault();
          $.ajax({
                 type: 'GET',
                 url: '/api/users/testadmin',
                 beforeSend: function (xhr) {
                     var token = sessionStorage.getItem(tokenKey);
                     xhr.setRequestHeader("Authorization", "Bearer " + token);
                 },
                 success: function (data) {
                     alert(data);
                 },
                 error: function (data) {
                     console.log(data);
                 }
             })
        });
        $('#TestTeacher').click(function(e) {
                    e.preventDefault();
                  $.ajax({
                         type: 'GET',
                         url: '/api/users/testteacher',
                         beforeSend: function (xhr) {
                             var token = sessionStorage.getItem(tokenKey);
                             xhr.setRequestHeader("Authorization", "Bearer " + token);
                         },
                         success: function (data) {
                             alert(data);
                         },
                         error: function (data) {
                             console.log(data);
                         }
                     })
                });
        $('#TestStudent').click(function(e) {
                    e.preventDefault();
                  $.ajax({
                         type: 'GET',
                         url: '/api/users/teststudent',
                         beforeSend: function (xhr) {
                             var token = sessionStorage.getItem(tokenKey);
                             xhr.setRequestHeader("Authorization", "Bearer " + token);
                         },
                         success: function (data) {
                             alert(data);
                         },
                         error: function (data) {
                             console.log(data);
                         }
                     })
                });
    </script>