@page
@model ALS.Pages.Index

@{
    Layout = "_Layout";
    ViewData["Title"] = "Домашняя страница";
}
<form class="loginForm" style="margin-left: 30%">
    <label>Введите email:</label> <br />
    <input type="email" id="emailLogin" required /> <br />
    <label>Введите пароль:</label> <br />
    <input type="password" id="passwordLogin" required /> <br /> <br />
    <input type="submit" class="btn btn-success" id="submitLogin" value="Логин" style="margin-left: 8%" />
</form>
<script>
function ShowInfo()
{
    let roles = JSON.parse(sessionStorage.getItem('roles'));
    if (roles == null) return;
    if (roles.includes('Teacher')) {
        
    }
    if (roles.includes('Admin')) {
        
    }
    if (roles.includes('Student')) {
        $(function() {
            $('#content').load('UserInstruction.html');
        });
    }
}
ShowInfo();
$('#submitLogin').click(function (e) {
                e.preventDefault();
                let emailVal = $('#emailLogin').val().trim();
                let passwordVal = $('#passwordLogin').val().trim();
                if(emailVal === '' || passwordVal === '')
                {
                    alert('Введите логин и/или пароль');
                    return;
                }
                let loginData = {
                    grant_type: 'Password',
                    Email: emailVal,
                    Password: passwordVal
                };
                $.ajax({
                    type: 'POST',
                    url: '/api/users/login',
                    contentType:  "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(loginData),
                    success:
                        function (data)
                        {
                        $('.userName').text(data.username);
                        $('.userInfo').css('display', 'block');
                        $('.loginForm').css('display', 'none');
                        // сохраняем в хранилище sessionStorage токен доступа и имя
                        sessionStorage.setItem(username, data.username);
                        sessionStorage.setItem(userId,   data.userId);
                        sessionStorage.setItem(roles,    JSON.stringify(data.roles));
                        showMenu();
                        ShowInfo();
                        },
                    error:
                        function (data)
                        {
                            alert(data.responseText);
                        }
                });
            });
</script>