@page
@model ALS.Pages.UserAdmin

@{
    Layout = "_Layout";
    ViewData["Title"] = "Администраторы";
}

<h3>Администраторы </h3>
<div class="container">
    <table style="width: 100%" class="table table-hover" border="1">
        <thead>
        <tr>
        <td>Почта</td>
        <td>Имя</td>    
        <td>Фамилия</td>
        <td>Отчество</td>
        <td>Действия</td>
        </thead>
        <tbody id="tbodyContent">
    </table>
</div>
<button class="btn btn-info btn-lg" type="button" data-toggle="modal" data-target="#myModal">Добавить администратора</button>
<script>
    let table = document.getElementById('tbodyContent');
    table.innerHTML = '';
    $.ajax(
                {
                    type: 'GET',
                    url: '/api/users/GetAdminUsers',
                    beforeSend: (xhr) => {
                    },
                    success: (users) => {
                        for(let user of users)
                        {
                            let tr = document.createElement('tr');
                            table.appendChild(tr);
                            let tdUserEmail = document.createElement('td');
                            tdUserEmail.innerText = user.email;
                            tdUserEmail.dataset.id = user.id;
                            tr.appendChild(tdUserEmail);
                            let tdUserName = document.createElement('td');
                            tdUserName.innerText = user.name;
                            tr.appendChild(tdUserName);
                            let tdUserSurname = document.createElement('td');
                            tdUserSurname.innerText = user.surname;
                            tr.appendChild(tdUserSurname);
                            let tdUserPatronymic = document.createElement('td');
                            tdUserPatronymic.innerText = user.patronymic;
                            tr.appendChild(tdUserPatronymic);
                            tdUserActions = document.createElement('td');
                            tdUserActions.innerHTML = '<button style="margin-right: 5%" data-toggle="modal" onclick="editPrepareVariant(this)" data-target="#edit" class="btn btn-primary edit-item">Редактировать</button>' +
                                                        '<button style="margin-right: 5%" data-toggle="modal" onclick="editPrepareVariant(this)" data-target="#edit" class="btn btn-primary edit-item">Сбросить пароль</button>' +
                                                        '<button onclick="removeUser(' + variant.variantId + ')" class="btn btn-danger remove-item">Удалить</button>';
                        }
                    },
                    error: (usersFail) => {
                        document.body.innerHTML = '';
                        alert('Нет доступа');
                        history.go(-1);
                    }
                }
            );

</script>