@page
@model ALS.Pages.TemplateLW.CreateModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TemplateLaboratoryWork</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Template.ThemeId" class="control-label"></label>
                <select id="selectThemeId" name="themeId" asp-items="Model.Themes"></select>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Template.TemplateTask" class="control-label"></label>
                <input id="selectFile" type="file" name="upload" />
            </div>
            <div class="form-group">
                <input id="submitCreating" asp-page-handler="Creating" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>