@page
@model ALS.Pages.TemplateLW.DeleteModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Удаление";
}

<h1>Удаление</h1>

<h3>Вы уверены, что хотите удалить данную запись?</h3>
<form asp-page-handler="Deleting">
    <h4>Шаблон Лабораторной работы</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            <label>Id Лабораторной работы</label>
        </dt>
        <dd class="col-sm-9">
            <label>@Model.Template.TemplateLaboratoryWorkId</label>
            <input id="tlwId" name="tlwId" value="@Model.Template.TemplateLaboratoryWorkId" hidden>
        </dd>
        <dt class="col-sm-3">
            <label>Тема</label>
        </dt>
        <dd class="col-sm-9">
            <label>@Model.Template.Theme.Name</label>
        </dd>
        <dt class="col-sm-3">
            <label>Путь до файла</label>
        </dt>
        <dd class="col-sm-9">
            <label>@Model.Template.TemplateTask</label>
        </dd>
    </dl>

    <div class="form-group">
        <input type="submit" id="submitDeleting" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="Index">Вернуться назад</a>
    </div>
</form>

<script>
    @{ /*
      $('#submitDeleting').click(function (e) {
          e.preventDefault();
          var twlIds = {
              templateId: $('#tlwId').val()
          };

          $.ajax({
              type: 'POST',
              url: '/api/templatelws/delete',
              contentType: "application/json; charset=utf-8",
              dataType: "json",
              data: JSON.stringify(twlIds)
          }).success(function (data) {
              console.log(data);
          }).fail(function (data) {
              console.log(data);
          });
      });
      */
    }
</script>